/* Error: expected ")".
 *     ,
 * 259 |   --cursor-enemy-var: var(--cursor-enemy);
 *     |                                           ^
 *     '
 *   src\styles\_variables.scss 259:43  @use
 *   src\styles\index.scss 2:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 259 \2502    --cursor-enemy-var: var(--cursor-enemy);\d\a     \2502                                            ^\a     \2575 \a   src\\styles\\_variables.scss 259:43  @use\a   src\\styles\\index.scss 2:1          root stylesheet';
}
